<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>{{ show?.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="show">
    <ion-card>
      <img [alt]="show.name"
        [src]="show.poster_path ? 'https://image.tmdb.org/t/p/original'+show.poster_path : 'http://via.placeholder.com/500x750'" />
      <ion-card-header>
        <ion-card-title>{{ show.original_name }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-text color="dark">
          <h3>Fecha de lanzamiento: {{ show.first_air_date | date: 'dd/MM/yyyy' }}</h3>
        </ion-text>
        <ion-text color="dark">
          <h3>Autores</h3>
        </ion-text>
        <ion-chip>Temporadas: <span class="fw-bold">{{show.number_of_seasons}}</span></ion-chip> <ion-chip>Episodios:
          <span class="fw-bold">{{show.number_of_episodes}}</span></ion-chip>
        <ion-text color="dark" *ngIf="show.overview !== ''">
          <h2 class="fw-bold">Resumen</h2>
        </ion-text>
        <ion-text color="dark" *ngIf="show.overview !== ''">
          <p>{{ show.overview }}</p>
        </ion-text>
        <ion-text color="dark" class="author" *ngIf="show.created_by.length > 0">
          <ion-label>Autores: </ion-label>
          <ng-container *ngFor="let author of show.created_by">
            {{ author.name }},
          </ng-container>
        </ion-text>
      </ion-card-content>
    </ion-card>
  </ng-container>
</ion-content>