.slider {
  display: flex;
  overflow-x: scroll;
  width: 100%;
}
.title {
  font-size: 0.75rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden;
}
.header {
  padding: 10px;
}
.custom_card {
  margin: 8px;
  width: 150px;
  min-width: 120px;
}
